.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  text-decoration: none;
  min-height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__link::before {
content: '';
background-color: #2A2C2F;
opacity: 0.3;
position: absolute;
top: 0;
right: 0;
bottom: 0; 
left: 0;
transition: 0.5s ease-in;
}

.cover__link:hover::before {
  opacity: 0.8;
}   

@media screen and (max-width: 1024px) {
  .cover__link {
  min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
  min-height: 480px;
  }
}


@media screen and (max-width: 320px) {
  .cover__link {
  min-height: 200px;
  justify-content: flex-start;
  }
}