.place__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  margin: 0;  
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 480px) {
  .place__title {
    margin: 0 auto 32px;
    width: calc(100% - 2*16px);
    font-size: 32px;
    line-height: 35px;
  }
}