.header__logo {
  width: 176px;
  min-height: 52px;
  background-image: url(../../../images/header-logo.svg); 
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 142px;
    min-height: 42px;
  }
}