.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #fff;
  margin-top: 12px;
  transition: opacity 0.1s ease-in;
}

.place__link:hover {
  opacity: 0.8;
}
